{% extends "base.html" %}

{% block content %}
<div class="container-custom mt-4">

    <h2 class="text-center mb-4">Personas y Metas de las Hombres Jóvenes</h2>

{% for persona in personas %}

<div class="persona-item shadow-sm">

    <!-- NOMBRE -->
    <div class="persona-nombre">
        {{ persona.nombre }}
    </div>

    <!-- TODAS LAS METAS -->
    {% for obra in persona.obramisional_set.all %}

        <div class="mt-2 ms-3">

            <div>
                <strong>Meta:</strong>
                {{ obra.meta }}
            </div>
            <div>
                <strong>Anotaciones:</strong>
                {{ obra.nota }}
            </div>

            <div>
                <strong>Fecha:</strong>
                {{ obra.fecha_meta|date:"M d, Y" }}
            </div>

            <form method="POST"
                  action="{% url 'marcar_completado' obra.id %}">

                {% csrf_token %}

                <input
                    type="checkbox"
                    name="done"
                    onchange="this.form.submit()"
                    {% if obra.done %}checked{% endif %}
                >

            </form>

        </div>

    {% endfor %}

</div>

{% endfor %}
{% endblock %}
