{% extends "base.html" %}

{% block content %}
<div class="container-custom mt-4">
    <h2 class="text-center mb-4">Personas y Metas del Quorum</h2>

    <div class="row">
        <!-- LISTA DE PERSONAS A LA IZQUIERDA (SOLO NOMBRES) -->
        <div class="izquierda">
            <h2> Personas</h2>
            <ul class="lista-personas">
                {% for item in personas %}
                    <li class="personas">{{ item.nombre }}</li>
                {% endfor %}
            </ul>
        </div>

        <!--  TARJETAS ORIGINALES A LA DERECHA -->
            <div class="container-custom mt-4">

                {% for x, y  in combi %}
                <div class="persona-item shadow-sm">
                    <div class="persona-nombre">{{ y.nombre }}</div>

                    {% if x.meta %}
                    <div class="persona-fecha">
                        <strong>Meta:</strong> {{ x.meta }}
                    </div>
                    {% endif %}

                    <div class="persona-fecha">
                        <strong>Meta para:</strong> {{ x.fecha_meta|date:"M d, Y" }}
                    </div>
            <form method="POST" action="{% url 'marcar_completado' x.id %}" class="d-inline">
                {% csrf_token %}
                <input 
                    type="checkbox" 
                    name="done"
                    onchange="this.form.submit()"
                    {% if x.done %}checked{% endif %}
                >
            </form>

    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}